<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>Shop Product List By Category</title>

    <!-- 부트스트랩 -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/productInfo.css" rel="stylesheet">

</head>
<body>
<div class="container mb-5">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <div class="dropdown">
                    <button class="btn btn-lg top-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false"><strong>카테고리</strong>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" id="dropdown-categories"
                        aria-labelledby="dropdownMenuButton1"></ul>
                </div>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" id="header-logo" th:href="@{/}"
                   style="text-decoration-line: none">Dozi Shop</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm col-2 top-btn" id="notice-btn">Notice</a>
                <a class="btn btn-sm col-2 top-btn" id="event-btn">Event</a>
                <a class="btn btn-sm col-2 top-btn" id="qna-btn">Qna</a>
                <a sec:authorize="isAnonymous()" th:href="@{/member/login}" class="btn btn-sm btn-secondary col-2"
                   id="login-btn">Login</a>
                <div class="dropdown" sec:authorize="isAuthenticated()">
                    <button class="btn btn-sm top-btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span sec:authentication="principal.viewName"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" id="dropdown-categories2"
                        aria-labelledby="dropdownMenuButton2">
                        <a th:href="@{/member/logout}" class="dropdown-item mb-3 mt-3" id="logout-btn">Logout</a>
                        <a th:href="@{#}" class="dropdown-item mb-3 mt-3" id="myPage-btn">My Page</a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="mb-3 mt-5" style="overflow: hidden">
        <img src="/img/Ex_banner.png" style="object-fit: cover"/>
    </div>
</div>

<main class="container" th:object="${product}">
    <hr>
    <div class="container text-center">
        <a class="h6 custom-info-link" th:text="${category} + '/' + ${mini}"
           th:href="@{'/productList/' + *{category.id}}"></a>
    </div>
    <div class="row align-items-center">
        <div class="col text-center">
            <img src="/img/altImg.png" class="rounded-start img-fluid" alt="...">
        </div>
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <p class="mb-4 h3"><strong th:text="*{name}"></strong></p>
                </div>
                <div class="col">
                    <a class="title-btn me-3"><i class="far fa-heart"></i></a>
                    <a class="title-btn"> <i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <div class="row mb-3">
                <div class="stars col">
                        <span class="stars-background">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    <span class="stars-color" style="width: calc(0.7 * 141px);">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                </div>
            </div>
            <div class="row">
                <p class="h3 mb-3 mt-4" th:text="|*{price} 원|"></p>
            </div>
            <hr style="width: 70%">
            <div class="row-1 mt-4">
                <button class="btn btn-secondary" sec:authorize="isAnonymous()" style="width: 55%;" disabled="disabled">로그인이 필요합니다.</button>
                <a class="btn btn-secondary" sec:authorize="isAuthenticated()" style="width: 33%;"
                   th:href="@{'/orders/' + ${product.id}}">주문하기</a>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
                <button class="nav-link active custom-info-link" id="nav-info-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-info"
                        type="button" role="tab" aria-controls="nav-info" aria-selected="true">상세 정보
                </button>
                <button class="nav-link custom-info-link" id="nav-review-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-review"
                        type="button" role="tab" aria-controls="nav-review" aria-selected="false">상품 리뷰
                </button>
                <button class="nav-link custom-info-link" id="nav-ask-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-ask"
                        type="button" role="tab" aria-controls="nav-ask" aria-selected="false">상품 문의
                </button>
            </div>
        </nav>
        <hr>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <div class="display-3 text-center">
                    <p class="display-3">최고의 만화책 !!</p>
                    <p class="h3">판매율 1위 !!</br>
                        원피스 입니다!</p>
                </div>
                <hr>
                <div class="display-3 text-center">
                    <img class="img-fluid" src="/img/background_Test_Image.png"/>
                </div>
                <hr>
            </div>
            <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                <div class="review-container ms-5">
                    <div class="m-4 mb-5">
                        <div class="row">
                            <div class="stars col">
                                <div class="stars-background">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="stars-color" style="width: calc(0.7 * 141px);">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-sm-3">
                            <p class="h5">최재원</p>
                        </div>
                        <div class="col-5">
                            <p class="h5">2021-12-08</p>
                        </div>
                    </div>
                    <div class="row-cols-2 m-4">
                        <p class="h6">
                            내용<br>
                            내용<br>
                            내용<br>
                        </p>
                    </div>
                    <hr style="height: 2px">
                </div>

                <div class="review-container ms-5">
                    <div class="m-4 mb-5">
                        <div class="row">
                            <div class="stars col">
                                <div class="stars-background">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="stars-color" style="width: calc(0.7 * 141px);">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-sm-3">
                            <p class="h5">조상훈</p>
                        </div>
                        <div class="col-5">
                            <p class="h5">2021-12-08</p>
                        </div>
                    </div>
                    <div class="row-cols-2 m-4">
                        <p class="h6">
                            내용 내용 내용 내용 내용 내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>
                        </p>
                    </div>
                    <hr style="height: 2px">
                </div>
            </div>

            <div class="tab-pane fade mt-5" id="nav-ask" role="tabpanel" aria-labelledby="nav-ask-tab">
                <div class="ms-5" id="ask-list">
                    <div class="ask-container ms-5">
                        <div class="question">
                            <div class="row m-3">
                                <div class="col-sm-3">
                                    <p class="h5">조상훈</p>
                                </div>
                                <div class="col-5">
                                    <p class="h5">2021-12-08</p>
                                </div>
                            </div>
                            <div class="row-cols-2 m-4">
                                <p class="h6">
                                    질문 내용
                                </p>
                            </div>
                            <hr style="height: 2px">
                        </div>
                        <div class="answer mt-5">
                            <div class="row m-3">
                                <div class="col-sm-3">
                                    <p class="h5"><i class="fas fa-arrow-right"></i> 판매자</p>
                                </div>
                                <div class="col-5">
                                    <p class="h5">2021-12-08</p>
                                </div>
                            </div>
                            <div class="row-cols-2 m-4 ms-5">
                                <p class="h6">
                                    답변 내용
                                </p>
                            </div>
                            <hr style="height: 2px">
                        </div>
                    </div>
                </div>
                <div class="ms-5 mt-5 align-items-center">
                    <textarea sec:authorize="isAnonymous()" class="ms-5" style="height: 100%; width: 60%;"
                              disabled="disabled" placeholder="로그인이 필요한 서비스 입니다."></textarea>
                    <textarea sec:authorize="isAuthenticated()" class="ms-5" id="question-area"
                              style="height: 100%; width: 60%;"></textarea>
                    <btn class="btn btn-secondary ms-3 mb-4" style="width: 10%" id="question-btn">등록</btn>
                </div>
            </div>

        </div>
    </div>
</main>


<footer class="blog-footer" style="margin-top: 7%;">
    <p> made by JW </p>
    <p> Test Version 1.0</p>
    <p>Email : protoss1025@gamil.com</p>
</footer>

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/index.js"></script>
<script src="/js/productInfo.js"></script>

<!-- fontAwesome-->
<script src="https://kit.fontawesome.com/c452641c94.js" crossorigin="anonymous"></script>

</body>
</html>