<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
  <title>Shop Login</title>

  <!-- 부트스트랩 -->
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>

  <!-- Custom styles for this template -->
  <link href="/css/blog.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/index.css" rel="stylesheet">

</head>
<body>

<main class="container mt-5 pt-5 mb-5 pt-5 align-items-center">
  <div class="col-4 text-center mt-5 pt-5" style="width: 100%">
    <a class="blog-header-logo text-dark" id="header-logo"  th:href="@{/}">Dozi Shop</a>
  </div>
  <div class="container mt-5 mb-5" style="width: 50%">
    <form th:action="@{/member/login}" method="POST">
      <div class="mb-4">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-5">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
      </div>
      <div class="text-center mb-5" style="width: 100%">
        <button type="submit" class="btn btn-secondary" style="width: 97%;">Login</button>
      </div>
      <div class="text-center mb-5" style="width: 100%">
        <a class="btn btn-secondary me-3" style="width: 47%;" th:href="@{/member/signup}">Sign In</a>
        <a class="btn btn-secondary" style="width: 47%;">Find Password</a>
      </div>
    </form>
  </div>
</main>

<footer class="blog-footer" style="margin-top: 7%;">
  <p> made by JW </p>
  <p> Test Version 1.0</p>
  <p>Email : protoss1025@gamil.com</p>
</footer>

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- js -->

</body>
</html>